<!DOCTYPE html>
<html lang="en">
    
    <body id="page-top">
        <%- include('./partials/head') %> 
        <!-- Navigation-->
        <%- include('./partials/nav-bar') %> 
        <!-- Masthead-->
        <%- include('./partials/masthead') %> 
        <!-- About-->
        <%- include('./partials/about') %> 
        <!-- Projects-->
        <%- include('./partials/projects') %> 
        <!-- Signup-->
        <%- include('./partials/singUp') %> 
        <!-- Contact-->
        <%- include('./partials/contact') %> 
        <!-- Footer-->
        <%- include('./partials/footer') %> 
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="javascripts/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
